<%= form_with(model: my_blog) do |form| %>
  <% if my_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_blog.errors.count, "error") %> prohibited this my_blog from being saved:</h2>

      <ul>
        <% my_blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
   <div class="flex-row d-flex justify-content-center">
    <div class="col-md-8">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map {|c| [c.category,c.id]}, class:'sachin' %>
  </div>
  
  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class:'form-control' %>
  </div>

   <div class="field form-group">
    <%= form.label :body %>
    <%= form.number_field :user_id,id: :my_blog_user_id,value:current_user.id,class:'form-control' ,type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  </div>
<% end %>
