<div class="show">
<%# <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">  
      <%= link_to 'Home',root_path %>
    <%# </li>
    <li class="breadcrumb-item " aria-current="page"><%= @my_blog.category.category %></li>
    <%# <li class="breadcrumb-item " aria-current="page"><%=  @my_blog.title %></li>
  <%# </ol> %>
<%# </nav>  %>

<p class="title-show">
  <%= @my_blog.title %>
</p>

<p class="img-show"><% if @my_blog.image.present? %>

  <%= image_tag @my_blog.image ,class:"img-class"%><% end %>

</p>
<%# <p class="cate-show">
  Category:-<%= @my_blog.category.category %>
<%# </p> %>
<p class="body-show">
  <%= @my_blog.body %>
</p>



<div class="links">
<%= link_to 'Edit', edit_my_blog_path(@my_blog),class:"btn btn-primary" %> |
<%= link_to 'Back', my_blogs_path,class:"btn btn-success  " %>
</div>
</div>